.detail-page-header {
    margin: 3% 20%;
    border-bottom: 1px solid black;
}

.detail-page-header h1{
  line-height: 52px;
  letter-spacing: -0.011em;
  font-size: 42px;
  margin-bottom: 32px;
  margin-top: 1.19em;
  font-weight: 700;
  font-style: normal;
}

.detail-page-header-info {
  margin-bottom: 20px;
}

.author-name {
  color: #333;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.article-meta {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  display: block;
}

.circle-1,
.circle-2 {
  position: absolute;
  border-radius: 50%;
}

.circle-1 {
  width: 300px;
  height: 300px;
  background: rgba(255, 182, 193, 0.2); /* Light blue */
  top: 20px;
  left: 20%;
  z-index: -3;
}

.circle-2 {
  width: 400px;
  height: 400px;
  background: rgba(173, 216, 230, 0.2); /* Light pink */
  bottom: -100px;
  right: 35%;
  z-index:-2;
}

/* Description styling */
.detail-page-body {
  margin: 3% 20%;
    background-color: white;
    min-height: 100vh;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.003em;
    text-align: justify;
}

.detail-page-body a {
  color: #36c;
  text-decoration: underline;
}

.detail-page-body ul {
  list-style-type: disc;  /* Pastikan bullet muncul */
  padding-left: 8%;    /* Tambahkan padding agar bullet terlihat */
}

.detail-page-body li {
  margin-bottom: 5px; /* Beri jarak antar item */
}

.detail-page-body .subtitle {
  font-weight: bold;
  display: block;
}

.detail-page-body img{
  border: 1px solid black;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-page-body p{
  margin-bottom: 15px;
}


@media (max-width: 576px) {
  .detail-page-header {
    margin: 3% 8%;
  }

  .detail-page-body {
    margin: 5% 8%;
    background-color: white;
    min-height: 100vh;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.003em;
  }

  .detail-page-header h1{
    line-height: 38px;
    letter-spacing: -0.014em;
    font-size: 32px;
    margin-bottom: 24px;
    margin-top: 1.01em;
    font-weight: 700;
    font-style: normal;
  }

  .detail-page-body img{
    width: 100%;
  }
  
}