@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8% 8%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative;
}
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }

  .navbar-title {
    font-size: 18px;
  }
  
  .navbar-socials, .navbar-socials-res {
    display: flex;
    gap: 10px;
  }
  
  .social-link {
    display: flex;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background-color 0.3s;
  }
  
  .social-link:hover {
    background-color: #007bff;
    color: #fff;
  }

  .navbar .toggle-btn{
    cursor: pointer;
    display: none;
  }

  /* Dropdown Menu */
  .navbar .dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90%;
    width: 300px;
    background-color: white;
    border: 1px solid #e5e7eb;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
  }

  .navbar .dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .dropdown-menu li:hover {
    background-color: #e5e7eb;
  }

  /* Responsive Design */
  @media (max-width: 992px) {
    .navbar-links, .navbar-socials {
      display: none;
    }

    .navbar .toggle-btn {
      display: block;
    }

    .navbar .dropdown-menu{
      display: block;
    }
  }

  @media (max-width: 576px) {
    .navbar .dropdown-menu{
      display: block;
      left: 2rem;
      width: unset;
    }
  }