@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero Section Styles */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 20px 8%;
    gap: 20px;
  }
  
  .hero-content-left {
      flex: 0 0 40%;
  }
  
  .hero-content-right {
      flex: 0 0 60%;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 2rem;
    line-height: 1.6;
  }
  
  .hero p strong {
    font-weight: bold;
  }
  
  .hero .learn-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.2rem;
  }
  
  .hero .learn-more:hover {
    color: #0056b3;
  }

  /* Work Section Styles */
  .works, .article-highlight, .work-highlight, .related-articles {
    padding: 2% 8%;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 250px;
  }

  .works-more-btn {
    border: 1px solid;
    border-radius: 5%;
    padding: 8px 15px;
    margin: 20px 0px;
    transition: background-color 0.3s;
  }

  .works-more-btn:hover {
    background-color: #007bff;
    color: #fff;
  }

  /* Contribution Section Styles */
  .contribution {
    padding-bottom: 32px;
  }

  .contribution-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-top: 32px;
  }

  .contribution-box{
    border: 1px solid rgba(173, 216, 230, 0.5);
    border-radius: .75rem;
    padding: 1.5rem;
  }

  .contribution-box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }

  .contribution-box-title {
    font-size: 22px;
  }

  .contribution-box-badge {
    font-size: 14px;
    padding: 0px 0.75rem;
    border-radius: 9999px;
    color: white;
  }

  .contribution-box-head .light-blue {
    background-color: rgba(102, 197, 237,0.5);
  }

  .contribution-box-head .light-purple {
    background-color: rgba(196, 94, 255,0.5);
  }

  .contribution-box-body > li{
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(170, 170, 170,0.5);
    color: #aaa;
    font-size: 14px;
  }

  .contribution-box-body > li:last-child {
    border-bottom: none;
  }

  /* Skill Section Styles */
  .skills-certs{
    background-color: #111;
    color: #fff;
    padding: 5% 8%;
  }

  .skills-certs h2 {
    color: #aaa;
    padding-bottom: 10px;
  }

  .skills-certs h3 {
    font-size: 28px;
    line-height: 32px;
  }

  .skills-icon{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 32px 0px 48px;
  }

  .skills-icon > div {
    border: 1px solid rgba(173, 216, 230, 0.5);
    border-radius: .75rem;
    padding: 8px;
  }

  .skills-icon > div > img {
    width: 80px;
    height: 80px;
  }

  /* Certs Section Styles */
  .certs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 25px;
    padding: 32px 0px;
  }

  .certs-div {
    flex-grow: 50%;
    border-bottom: 1px solid white;
  }

  .certs-div > h4{
    font-size:22px;
    padding-bottom: 25px;
  }

  .certs-div > p {
    color: #aaa;
    padding-bottom: 15px;
  }

  /* Articles Section Styles */
  .articles {
    padding: 5% 8%;
  }

  .articles > h3 {
    font-size: 28px;
    padding: 10px 0px 25px;
    line-height: 35px;
  }

  .article-list {
    padding: 5% 8%;
    background-color: black;
  }

  .list-header {
    display: flex;
    justify-content: space-between;
  }

  .list-search {
    position: relative;
    width: 300px;
    border: 1px solid white;
    border-radius: 5px;
  }

  .list-search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 16px;
  }

  .list-search-input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    outline: none;
  }

  .list-search-input::placeholder {
    color: #888;
  }

  .list-filter {
    display: flex;
}

.list-filter button {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    font-size: 14px;
}

.list-filter button.active {
  background-color: #3372d6;
  color: white;
  border-color: #3372d6;
  box-shadow: 0 4px 10px rgba(51, 114, 214, 0.5);
  transform: scale(1.05);
}

.list-filter button:hover {
  background-color: #3372d6;
  border-color: #3372d6;
}

  .loading {
    font-weight: bold;
    color: white;
    display: inline-block;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4, jump-none) infinite;
  }
  
  @keyframes l {
    to {
      clip-path: inset(0)
    }
  }

  .notfound {
    font-weight: bold;
    color: white;
    display: inline-block;
    font-family: monospace;
    text-align: center;
    font-size: 40px;
  }

  /* Detail Article Section Styles */
  .detail-container {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .detail-container p{
    font-size: 36px;
    font-weight: bold;
  }

  .related-articles{
    position:relative;
    padding-bottom: 50px;
  }

  .related-articles h2 {
    padding: 20px 0px;
    font-size: 26px;
    font-weight: bold;
  }

  .circle-3,
  .circle-4 {
    position: absolute;
    border-radius: 50%;
  }

  .circle-3 {
    width: 600px;
    height: 600px;
    background: rgba(255, 182, 193, 0.2); /* Light blue */
    top: 20px;
    left: 20%;
    z-index: -3;
  }
  
  .circle-4 {
    width: 700px;
    height: 700px;
    background: rgba(173, 216, 230, 0.2); /* Light pink */
    bottom: -100px;
    right: 5%;
    z-index:-2;
  }
  
  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #3372d6;
    color: #3372d6;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.load-more-button:hover {
    background-color: #3372d6;
    color: white;
}

/* Error Page */
.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-container h1 {
  font-weight: bold;
  font-size: 36px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3372d6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #3372d6;
}

  /* Root Responsive Design */
  @media (max-width: 992px) {
    .hero h1 {
      font-size: 2rem;
    }

    .hero p {
      font-size: 1.5rem;
      line-height: 1.6;
    }

    .contribution-list{
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 576px) {
    .hero {
      flex-direction: column;
    }

    .skills-certs h3 {
      font-size: 24px;
      line-height: 28px;
    }

    .articles h3 {
      font-size: 24px;
      line-height: 28px;
    }
    
    .card-container{
      justify-content: center;
    }

    .list-header {
      flex-direction: column;
      justify-content: center;
    }
  
    .list-search {
      width: auto;
    }
  }